html{
  background-color: white;
}

div .grid-item {
  float: left;
  text-align: left;
  border: 2px solid black;
  font-family: helvetica;
  font-size: 20px;
  padding: 30px;
  margin-bottom: 30px;
  width: 100%;
}

div .title{
  color: red;
}

div .center-div{
  margin-left: 10px;
  position: absolute;
  margin: auto;
  background-color: #ccc;
  border-radius: 3px;
}

.column1 {
  border: 1px solid red;
  margin: 30px;
  float: left;
  width: 850px;
  height: 5000px;
}
