<!DOCTYPE html>
<html>
<head>
  <title>ShirleysBirthday</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="center-div" align="center">
  <div class="title">
    <h1>Happy Birthday Shirley!!</h1>
  </div>
  <div class="column1">
    <div class="grid-item">1) Dean and I weren't being helpful before Passover one year. Instead of yelling at us Shirley just told us to go outside. I think we sat on the curb in front of your house for hours feeling so terrible because no one would ever want to let Shirley down.... I think of this as a fond memory but maybe the way I'm writing it doesn't do that hahaha.<br>

2) The stories Shirley would tell growing up. Danopolis, Zimbalenia, Deanie Camenie and Martinelli. Did Ann have one or were we too old by then? Also her amazing cameos in our "films" ... always the adult who was 100% game.<br>

3) When Shirley told Dean about Taylor over the phone and because of her accent I got a call from Dean so excited to meet Kayla.<br>

4) Taylor and I visiting SF a few years ago. For some reason the art of the Kale salad sticks out it my head. But in general, helping us plan each day, so invested that we have an amazing time while there.<br>

At least a few to start haha.<br><br>
Love<br>
Zoe</div>
    <div class="grid-item">Happy 60th Shirl<br>

One of the most memorable times with you, Shirl, was when we

went to Kings Canyon and Sequoia National Parks to celebrate

your 50th birthday.  During our drive there and on our hikes you

talked about growing up in South Africa with you mom and dad

and sisters, the gardeners and house help, the music and food,

school and many notable events in your life, including how you

met Jules and coming to America.<br>
<br>

On our way down from one long hot uphill hike we stopped, took

off our shoes and socks and waded in the stream to cool down.

That simple little ritual reminded me so much of my own childhood

it felt like you were my sister, not just a great friend.

The only downside of lingering in the stream is that we just

missed a bear sighting in the parking lot at the bottom of the trail.

At least that is what someone told us.  Did you believe it??<br>

Lots of Love from your old friend,<br>
<br>

Nancy XXOOXX</div>
    <div class="grid-item">Shirley is a whirlwind of activity, a gracious host, a conscientious listener and a selfless advocate for her friends, always on the go in a purposeful and perfectly sensible light-speed way.  You best not get between Shirley and her next objective.  And if you’re really lucky, you may be one of those objectives, in which case you will get her full and brilliantly analytical attention until she has solved your problem.  Not, perhaps, the solution you want, but the solution nonetheless, set out in an unassailable logic made only more formidable by an authoritative accent.<br>
<br>
In the process, listen carefully, because if you don’t you’ll miss out on a blizzard of witticisms not found anywhere else short of an Aaron Sorkin sitcom.  One word of advice, though:  Don’t expect coffee, dinner, chance meetings, planned meetings, any meetings (we meet at the coffee house, so we call them “Peet-Meets”) to last any longer than their usefulness requires.  She’s got other friends’ challenging problems to confront and solve in her irrefutable manner, so make way.<br>
<br>
Her loving friends,<br> Carole and Merle</div>
    <div class="grid-item">- Kamryn: Mom, Lisa, and Kamryn going to New Orleans before the wedding. Fond memory of walking together on Bourbon Street at night, enjoying the scene<br>

- Mom coming into my classroom during elementary and middle school to show a demonstration of something Jewish (passover, chunnukah) or something South African. I remember her bringing Jelly Donuts into the class and everyone being really excited.<br>

- Mom dropping off matzah with smoked salmon during passover<br>

- Mom asking my friends if they wanted "ice lollies."<br>

- Kamryn: Making desserts together (Pavlova, Grenadilla Cake)<br>

- Kamryn: Being at all the graduations sitting together and seeing how proud mom and dad were<br>

- The time we all fought off exhausting and made a (delish) Biryani<br>

- Mom working the middle school snack bar and getting all the Mill Valley gossip<br>

- Making the witches brew all together with all the leftover expired things in the kitchen<br>

- Making the auntie anne's pretzels together from that mix (not sure why this popped into my head)<br>

- Mom being allergic to chipped cups in Death Valley<br>

- Mom trying all the gelato in Rome, never quite settling on the right one<br>

- Mom organizing an incredible Auf-Ruf and her holding the tallit (along with other friends and family) above our heads as the Rabbi blessed the marriage<br>

- The one time Shirley and Kamryn actually got Mani's and Pedi's at Fingers and Toes -- at the same time ;)<br>

- Blackie's Pasture walks on our returns home.<br>

- Safari walk, approaching the elephant<br><br>

Love, <br>
Dean and Kamryn</div>
    <div class="grid-item">Many, many years ago, I remember sitting in my car outside
Wits at lunch time, cramming for a history exam that was to take place at 2.15 pm. I was exhausted, having only started my preparation the night before. There I was, chain smoking, in a terrible state. When the time came, I ran to the Examinations Hall in Central Block, only to discover that it was deserted. I ran to the history department, in a state of high anxiety, and was told the exam had taken place at 9 am in the morning. I had missed the exam. "But, but...," I whined. "My girlfriend had copied the exam timetable for me.,"  The Secretary shrugged and I went home disconsolate. My father, on hearing the news, started hyperventilating and had to go stand under the pear tree to recover. I got hold of the exam paper, and quickly saw that my "spots" did not come up, and I would have failed miserably. The history department, after some consideration, decided to pass me, on the basis that my year mark was reasonable.. This little saga has become a cautionary tale which is told to first year history students to this day, the moral being, that some friends cannot be relied on...</div>
    <div class="grid-item">Hey Shirl's,<br>
happy 60th!!<br>
I mean what 60 ? You feel more like 30 to me , but well you know the math!<br>
I remember Shirley coming to visit us in Milan and catching a plane there and back to London to go watch Simon & Garfunkel in London, and i remember thinking that was so cool!! It was in my rock concert going period and i found that to do that was just rleeally wow! Also i remember when Shirely and Jules were going out at firts and they came to visit Rose and Mike on Sunday's Jules was often wearing really tight leather pants, dont remember the color and they were in a red convertible car.
You are a for me a fundamental, something that is more than  a cuzin, more like an evident tr
You make me laugh , smile and i know that you're always there for me with a something good to say about me.
Remember when you came to Paris and we went to sip coffee at a Brasserie at Place de Vosges, for me it's what i've done most of my life, sip coffee. But you were on a high, i think i couldnt talk to you, you were i have to feel Paris in this espresso , i have to feel each neutron and electron in this coffee. Oooh that was an intense esprsso!!
And remember when we were running up and down Rue des Dames when looking for your hotel room in Paris. One hotel was trouble , i think some truck woke you up real early. And then we found the Hotel Eldorado, that was just amazing . You were so thrilled, each room was painted by a different artist. You were thrilled!
And remember when you took me to explore San Francisco, i came to your house and thought wow, my cousins are soo coool they eat salsa, with takos it was extraordinary. You took me to see the murals of Diego Rivera, and the San Francisco bay the bridge , and you jogged along the park.
Now that we are a little more grown up, you taught me at Andaz coffee shop how to take a selfie, with a good friend by putting the camera high , high so  everything looks perfect.<br><br>
For me Shirley you are the best, and i will always love you from the bottom of my heart,<br>
Vanessa</div>
<div class="grid-item">Senate house<br>
Club Le twa<br>
Norwood house ! <br>
Nude bathing<br>
Sitting at the pool in Linksfield talking to Mike<br>
Not going to .... Because of bilharzia<br>
Never having a good meal at a restaurant<br>
Bella's Pasta<br>
Salmon from the farmers market<br>
Catching the bus to San Fran airport... Waving until out of sight<br>
Coffee at Pete's ! Decaf extra foam , not too hot , double shot , skim milk etc<br>
All Bran at 11 pm<br>
Weddings ! Birthdays !<br>
Cape Town .. Sunset at Lundudno beach<br>
Anxiety<br>
Anxiety<br><br>

Love,<br>
Steve</div>
<div class="grid-item">
My Beautiful friend Shirl,<br><br>

The difference between a man and a

woman – Steve – ‘Matter of a fact, point

form summary of our friendship’ – Lou

can’t be part of the same birthday wish – I

have way too much to say!! I know you

live a crazy, rushed life, but when you got

time, sit down with a cuppa tea and read

mine under no pressure!!

Where do I begin talking about my beyond

special friend …<br><br>

I remember like it was yesterday when

terrified Lou was told by her boyfriend

Steve we were going to his University

lecturer for dinner! OMG I went into

absolute panic mode – what should I

wear, what would I talk to her about,

would she cook with garlic and onions,

etc.  And … on top of it all, she lived in a

cool apartment in Yeoville – way out of my

little Highlands North “Schettle.”  Well,

what can I say … the moment I stepped

into your home, I fell in love.  You made

me feel so welcome, you were fun, chatty,

hilariously funny, nervous of us

youngsters, worried we would not like your

food, etc.  It was deceptive Lou that went

home that night and said to Steve that I

was sure Jules had partly moved into your

apartment.  He thought I was crazy and

said “absolutely not – he is her student!”

Once again, I was right!!<br><br>

And so the friendship began – we began

spending our days, nights, dinners,

weekends, holidays and so much more

together.  We added so many to our

journey – Roy and Debbie were first, we

added Costa, all your cousins, our parents

(which in itself was such a wonderful

memory – spending hours in your home or

clubby house with my dad ) , your siblings

became our friends, but most special of all

was our love for our beautiful friend Dave

that became an inseparable part of our

friendship group.<br><br>

The inevitable had to happen – we sadly

chose to live in different parts of the globe

– probably one of the hardest days of our

life, was saying goodbye to our

inseparable friends.<br><br>

A foursome friendship that had grown into

a beyond extraordinary bond.

Although we don’t talk daily, the first

person I would call in a crisis situation

would be you, my wise, sensible friend.

You always know how to make things

better!<br><br>

With the millions of miles separating us,

we have still managed to see each other

every year or two and when we are

together, it is like we have never been

apart.  We have holidayed with our

children in order for them to feel our bond

of friendship – we even managed to each

have a baby on the same date, forging

that extra important connection.  We love

your kids as if they are our own and I

know the feelings are mutual.  We share

in each other’s achievements with such

joy and pride.<br><br>

We have enjoyed so many milestones

together that it does not feel right not to be

in San Francisco for your 60th Birthday.  I

feel like a failure as a friend that I have not

made a book, made a quilt, written a song,

at least cooked a meal, written a recipe

book, travelled across the world to spend

the day with you – but at least I am have

thought to these ideas.<br><br>

Shirl, my beyond amazing friend, your

zest for life makes my heart sing.  You are

a one in a million person that I love to

eternity.<br><br>

I wish you a lifetime of love, plenty

grandkids, happiness, laughter and

eternal sunshine.<br><br>

I love you to the moon and back.<br><br>

Your friend for always,<br>

Lou
</div>
<div class="grid-item">
HAPPY BIRTHDAY SHIRLEY!<br><br> One of my favorite memories with Shirley is one that spans across many years of my childhood...when I was younger, Shirley would always know that I needed to be prompted to get out of my comfort zone, and for that reasons, whenever we were together, she would offer me a certificate for trying new things. It started with new foods, but gradually grew to encompass going somewhere new, meeting new people, etc.
This is something that has stuck with me through today. My mom always uses Shirley's "certificate" method to get me to try new things, with the understanding that there is no penalty for disliking what you try, but only refusing to try it in the first place.
<br>Thanks Shirley, for encouraging me to find places I never would have found before :)<br><br>
Love,<br>
Ann
</div>
<div class="grid-item">
Corey reminded me of this one -<br><br>

at dean and kamryn's wedding we were still planning our wedding.
we had mentioned to Shirley that we may have a kids-only party separate to the wedding.
at the after party in New Orleans, while Shirley was dancing on stage at the club, around 1am, she yells to us "does this get me invited to your party?"<br><br>

happy birthday Shirley! no matter the age you are one of the most young and alive people we know!<br><br>
xo<br>
Dana and Corey<br>
</div>
<div class="grid-item">
I used to live in a flat with your Mom and Beverly Groener.
Beverly was studying nursing and used to come home from night shift often in a bad mood.
She always used to shout at us about cleaning the flat and keeping it tidy.
One morning after a night where we had a lot of people and the flat was really in a mess Beverly came home and we knew we were in trouble.
So we tried to pretend we were asleep but she lost her temper and was shouting at us.
Your Mom started to giggle and this just drove Beverly into an utmost rage.
She got over it though and we had a good laugh about it afterwards.<br><br>
Love,<br>
Barns
</div>
<div class="grid-item">
I only met Shirls in the late '70's, so most of the stories are 2nd hand and embellished by time and telling. The flat in Natal Street. A vague memory of visiting the flat on the corner of Oxford and Riviera roads prior to them leaving SA. Otherwise they concern Barney behaving really badly, which we should save for another function. I have this special place in my heart for Shirls, and send my love and birthday wishes.<br><br>
Love Ann
</div>
<div class="grid-item">
Once many years ago Mandee and I came to visit in San Francisco and we stayed in the guest room. On the day we left, Shirley left for work before Mandee and I left. Mandee and I cleaned up the guest room folding the sheets etc. Shirley called me when she got back home to say how flabbergasted and pleasantly surprised she was that I cleaned up. I could not decide if I should have taken that as a compliment or criticism.<br><br>

I remember that when Mandee was pregnant with Nathan I was trying to decide how to surprise my mom with the news. I put a picture of the ultrasound in an envelope and brought it to Rose and Mike's house, where my mom was that day. Shirley was in town because this is when Mike was ill and she was there to help out and happened to be at the house. I decided to tell them together. When my mom opened the envelope she yelled "A Baby!!" Shirley got emotional and got very teary eyed. He reaction meant a lot to me and I still think about it. It's no surprise that She's always been so loving and warm towards the kids. They love seeing her.<br><br>

A while back Mandee had a falling out with her horrible boss and she got let go. Shirley called her specially to see how she was and to lend words of encouragement.<br><br>

Just generally your mother is one of my favorite people to be around. She's fun, has a great sense of humor, and gives great advice. She can talk sports and always calls or texts when a Chicago team has success. She's really the best.<br><br>

Love,<br>
Jonny, Mandee, Nathan, Emmett and Isaac
</div>
<div class="grid-item">
Here are two stories I like about your mom. Neither of them have to do with the two of us directly, but they exemplify some of the things that I think are so great about her.<br><br>

The first is a story she told me years ago. She had to travel somewhere to work and had packed frantically at the last minute (a common occurrence, correct?). She had two pairs of the same shoe at home, one navy one black. She realized when she arrived at the hotel that she brought one of the navy and one of the black. Unphased she went down to the meeting and was talking to another man there. I don't know whether she pointed out to him that she had on different shoes, but she noticed he kept looking at her feet. I may not have the words exactly right, since I obviously wasn't there, but she told me she said something like, "I know I have different shoes on. Can't you just look at my breasts like every other man?" Shirley has a great sense of humor and is so quick-witted. As you can imagine when she told me this story we were both in hysterics. She's a terrific story-teller.<br><br>

Another is from my first trip out to Mill Valley by myself. I was between college and medical school and came out to see all of you for a vacation. This was of course long before you remodeled your house. Shirley left for work one day and gave me a heads up that people "might come in and out of the house." I had no idea what that meant, and that certainly was not how things were at my house. But first Marissa let herself in, and we started eating shredded wheat cereal together. Then Karen came over, and the three of us sat at the kitchen table for almost an hour chatting. I think Nancy had popped in at some point too! All while Shirley was at work. It's certainly possible that Shirley had actually planned this, to make sure that I wasn't lonely. That definitely would have been her style - always wanting to make sure that everyone's having a good time. But I got the feeling this scene was pretty typical.
People popping in at all times of the day, sometimes just for a quick hi, sometimes for longer.
When we were remodeling our own house last year I asked Shirley's advice about whether we should knock down the wall between the dining room and kitchen.
She answered quite definitively (also Shirley's style) that I should knock down the wall.
"You can either be the kind of person who entertains or not," she said. "And if you want to be the person who entertains then you'll want everything to be open."
Your house has always been a place where people love to gather.<br><br>

Love,
Tammy
</div>


<div class="grid-item">
I remember meeting Shirl just before she married Jules. I remember how happy their wedding was and how warm and welcoming everyone was.  I remember their flat before they moved to the US, and going there for yummy tea. I also remember going to Rose and Mike"s house and spending time with Shirl and her sisters there. We are so grateful that Shirl and Jules got to SF before us, and mentored us when we arrived. I am so glad that I get to spend time together with you Shirl--you are my rock and I love you! I am the luckiest girl in the world to have you as my sister in law.<br><br>
Love,<br>
Wendy
</div>
<div class="grid-item">
I have so many memories with Shirley, but one that will always stand out to me is eating her famous mac and cheese every week before or after Hebrew High. It was the best weekly activity that made Hebrew High worth it. I will cherish those meals forever!! Who knew that the secret recipe was made up of Campbell's tomato soup and shredded cheese?!<br><br>
Love,<br>
Ariel
</div>
<div class="grid-item">
Dear Shirley,<br><br>

One distinct memory I have of you is when Jonny and I came to San Fransisco to visit when we were about 21 or so.
My kids are still young, but I imagine it’s tough to adjust when you’ve changed someone’s diapers and wiped their noses, only to then see them as older college graduates.
It was funny for me to see you straddle between thinking of us as young kids on the one hand, and as older people on the other.
There were a few examples of this. I remember we were out on the town and you asked us what we wanted for lunch.
You ended up suggesting something and then gave us the shocking, disturbing news.
The place we were going was not McDonalds!
You said it to us as if this information would cause us to enter an emotional tailspin of disappointment that we would have to eat more grownup food.
Jonny and I both tried to reassure you that we are older now and McDonalds doesn’t have quite the appeal that it did when we were in the single digit age range.
There were several other parts of the trip where you asked if we wanted hamburgers to eat.
This was better than suggesting McDonalds, though by that point we were able to eat things that wouldn’t be on a typical restaurant’s kids menu. On the other hand, I also vividly remember you doing the opposite, which was to encourage us to spend a day exploring the city on our own. I think you realized that we hadn’t done that so much, and you wanted us to spread our wings a bit.
You told us how easy it would be and that you would pick us up at an exact place and an exact time so ease any concerns we might have.
I vividly remember having a great time with Jonny and enjoying the freedom. This is very typical Shirley.
On the one hand, you’re an extremely caring, doting aunt who wants people, particularly her family, to feel comfortable and secure.
You’re also an incredibly fun, energetic person who most people would never guess is 60.
We all love you so much, Shirley, and there are many wonderful memories of you that I could have written about.
We’ve had so much fun with you, and we cannot wait to make more memories with you in a few weeks.<br><br>

Lots of love, Shirley! Happy Birthday!<br><br>

Love,<br>
Daniel, Ami, Ben, and Ella
</div>
<div class="grid-item">
My best memories of Shirl began in the Wits Senate house lecturer offices and break room.  From a tentative, skeptical first introduction - (yes, as Shirl puts it, she thought I was a shark!) - we grew to become close colleagues and great friends.  We meandered through serious chats about lectures, students and workload, to moments in each others' offices where we frequently broke into uncontrollable giggles over just about any topic.  As probably no surprise to anyone who knows Shirl, because I had my periodic lapses of being a klutz and hurting myself, or just embarrassing myself, we were clearly hand-in-glove friends - she relished each opportunity with such glee to find each of my travesties utterly hysterical.<br><br>

Now that's a good, empathetic friend.<br><br>

Our most memorable?  Killarney shopping mall in Johannesburg.  Shirley proudly and almost royally introduced me to a girlfriend of hers.  Let's just say her friend was a little on the heavy side.  I launched, undeterred by the invasive recklessness of my question, into asking her when the baby was due - regrettably she wasn't pregnant!  Shirley, being the staunch, close friend that I had come to know and love......instantly ducked down another aisle leaving me to fumble miserably through my pathetically inadequate apology.<br><br>

Now that's a good, empathetic friend.<br><br>

What will permanently stay in my memory  - and my heart - is that Shirl has been there for me since our first day.  Never judging me, always encouraging me, listening and advising when I needed her, and she has turned absence into an art form, picking up effortlessly where we left off when last we'd spent time, even when oceans had separated us for a few years - pretty much as if we had never been apart.<br><br>

Now that's a beautiful friend.  My best ever.<br><br>

Love,<br>
Costa
</div>
<div class="grid-item">
On Sundays, when we were growing up in Johannesburg, we would go to the

Shulmans at 40 Young Avenue in Houghton.  The adults played tennis and the kids

would swim in the pool.   One day, while we were swimming, I suddenly saw Rose

jump into the pool with her clothes on—tackies and all.  Shirley and fallen in,

couldn’t swim and was struggling for air.   Of course the incident had a happy

ending.<br><br>

Rose always tells the story of the day she forgot to pick Shirley up from school.

Apparently, Shirley waited and waited.  Rose was often late.  Shirley must have

finally decided that Rose wasn’t coming and started walking home.  A woman saw

Shirley walking on her own up Sylvia Pass, picked up Shirley and called Rose.

I am assuming Shirley new the phone number.  Rose was horrified by the incident

and told the story over and over again.<br><br>

My favorite time of the morning is when Shirley calls to chat on her way to work.

We catch up on who is doing what and then there is time for listening and giving

advice.  Shirley is the best listener and gives well thought out suggestions.  She has

saved me from saying or doing something really stupid many times.

I am pleased that Shirley has a shorter commute to work but it does make our

talking time less.<br><br>

If it weren’t for Shirley and Jules’ recommendations, Kenneth and I would still be

watching “All in the Family” reruns.  We have loved “Borgen”,  “Justified” and

“Mozart in the Jungle”.<br><br>

Love,<br>
Kenneth and Lydia
</div>

<div class="grid-item">
Shirley acted in my first fictional film that I made. It was a terrible movie, but her performance was Oscar worthy! I remember having so much fun working with her and how supportive she was and still is.<br><br>

xx<br>
Julia
</div>
<div class="grid-item">
We first met at Kumara.  I was there to observe the school.  Just having moved from

Berkeley, I had been frantically looking for the perfect pre-school.

The first thing I saw at Kumara was a small girl covered head to toe in mud, and

talking a blue streak. That, of course, was Martine. Standing by the entry gate,

Shirley watching Martine with a smile.  We started talking, and realized that we

would both have kids in kindergarten at Park School the following year.

Once we were at Park, we became friendly.  Shirley invited us all over for dinner; it

was a delicious and casual meal. We all ate with our fingers, pulling apart the

incredibly good chicken. That is when I knew we would be close friends…It was

casual and warm, the kids were messy, everyone was talking.  It felt like home.

And although I can’t really remember, I am fairly sure that the night ended with

Marble cake and tea.

And thus began our initiation as a usual suspects.

We feel so very lucky to have you in our lives.<br><br>

Happy Birthday and loads of love from all of us.<br><br>

Love,<br>
Laura, Mark, Ariel and Julia
</div>
<div class="grid-item">
Too many memories and fun things your mom has brought into our house and family to list them at such short notice..<br><br>
She has done a great job in brining all the Stillerman family together. Even though she lives the furthest from us all she has never let that be a barrier. She comes on these world wind trips and while here causes so many good fun memories. Somehow when I started to think of them they often related around meals…. Particularly shabbas ones that from the time you and Dean were so young they have been incredible. My kids cherish those Shabbas dinners when you here and particularly when your mom and Jules have been here, Faines barmi, Karen and Jims visit   and many many more, in fact I’m still pretending the last trip has not finished and you around somewhere in SA.  If you ask Faine and Sarit who their  closest family are they would certainly say “Shirley and Jules” that says it all.<br><br>
No other words but to say – she is a special caring generous  lady who gets us all –  an “Eshet Chayil” in this Stillerman family and may she be blessed with double her years…<br><br>
Lots of love missing you all<br>
Adele and the Angels

</div>
<div class="grid-item">
Big Bird:  When it was time for the Baby Shower in anticipation of Gavi’s birth,  Shirley offered - no actually insisted - on having the shower at her home.  You know how she LOVES to through a party. The day before the shower a huge box arrived from Macy’s at 744 Mathilda Ave, from an anonymous sender.  Shirley refused to accept the box until the sender was revealed and it turned out to be a gift of BIG BIRD from Gavi’s Grandmother.<br><br>


This reminds me of so many parties, simcha’s and rituals that I have had the joy of sharing in, epitomizing Shirley’s infinite generosity, loyalty, sense of community, love of family and yes, always an opportunity to make a speech.  What a gift she has been to us over the years, and hopefully for many more to come.<br><br>

Happy birthday my friend!!<br><br>
Love,<br>
Linda
</div>
<div class="grid-item">
I don't have just one special memory with Shirley. All the time we spend together is special for me. We always have a great time walking around the town square or showing me her favorite hikes. We can also sit for hours around the island of her kitchen and talk about anything. Anytime we spend together is a favorite memory.
<br><br>
Thank You,<br>
Madison Young
</div>
<div class="grid-item">
By the time that Kamryn and Dean's wedding came around, I had known Shirley for more than six years and we had met each other on many occasions.
We had been up to San Francisco several times to visit and Shirley and Jules and they had been down to Los Angeles easily more than a dozen times with both Dean and Martine attending UCLA.
We also spent several days together in New Orleans making arrangements for the wedding.
After spending so much time with Shirley, I felt I knew her pretty well.
I found her to be strong and capable and always willing to take control and be in charge.
It seemed like no matter what the situation might be, Shirley always maintained her composure.
Even at the rehearsal dinner and through the wedding itself, Shirley was a rock.
Imagine my surprise when at the bar on Bourbon Street for the wedding afterparty, I turned around to see her dancing like a wild woman on the stage with a couple hundred drunk people singing and dancing below her.
I will forever know that under that calm exterior is really a 13 year old girl at her friend's bat mitzvah.<br><br>
Love,<br>
Lisa
</div>
<div class="grid-item">
A weekend visit with Shirley and Jules in San Francisco invariably includes  a hike through the natural beauty of Marin.  On one occasion earlier on in Kamryn and Dean's relationship, Shirley came down to Los Angeles for a visit and we met her at an outdoor shopping center near the airport.  We grabbed a quick Starbucks before heading over to our house in Calabasas.  Intent on showing her that we had plenty of our own natural beauty in Los Angeles, I decided to take the scenic route home. I drove down Pacific Coast Highway and took the Topanga Canyon route through the Santa Monica Mountains.  As we drove, I thought Shirley was impressed by the splendor of the sights. When we were about halfway through the canyon, I commented to Shirley about the natural beauty of the ocean and the mountains.
I was sure that she was going to agree with me, but instead she turned to me and said "Al, I am really carsick.
Please don't take the canyon anymore."  My plan backfired…<br><br>
Love,<br>
Alan
</div>

<div class="grid-item">
I have fond memories of watching movies with you and Jules in your flat (especially banned ones - not sure where you got them from?) and going to clubs on Rockey Street and Quavers at the Hypermarket on Sunday nights.  Thanks for letting me tag along.  You were a great lecturer (you still are but not quite the same type) and I know my friends enjoyed being in your class.  You and Jules were so welcoming and supportive when we arrived in SF.  I remember Shabbat dinners in Pacific Heights (Gira Polli chicken) when Dean was still a baby.  Thanks for the being the big (scratch that) - older sister I never had.
<br><br>
Love, Steve
</div>
<div class="grid-item">
March 11, 2016 <br>

Karen Hirsch <br>

My brilliant friend <br>

So many shared stories and experiences beginning with Jules coaching 6 year

olds Dean and Ty while Shirley trotted up and down the soccer field sidelines

with 3-year-old Martine perched on her hip.  When Dean first invited Ty for a play

date I plunked myself down at the 74 Matilda hub: the kitchen table and jabbered

away at Shirley for about an hour while she tried to figure out how to get rid of

me.  Not so fast. I was intrigued by this person from an alien culture with her

distinctive accent who served delicious South African tea, was funny, smart and

beautiful and probably a much better parent than I.  Thanks to our boys initial

connection I made a lifelong friend that day, but little did I know how much I

would come to love, value and learn from my sister Shirl over the next 22 years

(with lots more to follow). <br><br>

Fast forward.  Our families became best friends.  Hirsch/Condits had the privilege

of showing off the natural wonders of the west coast and National parks to the

Ehrlichs, and they transformed our lives by hosting and sharing their extended

families with us in South Africa, twice! The Intrepid Seven bonded; we celebrated

holidays, birthdays and simchas together, picnicked on Passover w/PB&J on

matzos in Death Valley, hiked up Zabrinski Point and Nevada Falls,

skied/boarded Tahoe and Park City, paddled through the Okevenko Delta

together and much, much more. <br><br>

So here’s a little vignette about Shirl and me. <br>

In the spring of 2001 Shirl and I decided to embark on our own weeklong ‘Thelma

and Louise’ western adventure. We flew to Albuquerque, rented a sedan (not a

convertible) and head out to explore a few Southwest National Parks.  The vistas

were extraordinary, the food lousy and Willa Cather books on tape great.

For me the highlight of the trip and testimony to the deepening of our friendship

happened in Canyon De Chelly, Arizona.  Two especially memorable

experiences: we laughed so hard we cried and Shirley saved my life.

Hikers are obliged to hire a Navajo guide in the Navajo Nation, so we lined up

bright and early at the Reservation desk and explained that we were seasoned

hikers and wanted a strenuous hike into the canyon… were paired up with an old

dude in work boots.  We were so arrogant - winking and snickering thinking we’re

so cool and fit and gonna out-hike this guy.  Ha ha.  First we were told to follow

his car in ours for a one-way hike (not loop) in order to leave a car for return

retrieval. We drove, parked and hopped into the back seat of his jalopy to drive

quite a distance in the middle of absolutely nowhere to (ostensibly) a trailhead.

Sitting in the back seat we were imagining he was planning revenge on these two

white bitches - scalping and leaving us as carrion feed.  We started laughing and

couldn’t stop – tears rolling down our cheeks while trying to muffle hysterics

during that wild ride across the mesa. And as you see he didn’t kill and leave us

by the dirt road, but once we started hiking down the canyon he skipped ahead at

a super fast clip - so maybe he was planning to lose or kill us in the canyon?  We

stumbled down the shale path in our fancy hiking boots trying to keep up with this

guy 30+ years older.  BTW, the 8+ mile hike along the canyon floor was

absolutely spectacular with 1000’ red cliffs etched with petroglyphs looming over

the trail, white dogwoods blooming along the meandering emerald green river

and a bright turquoise sky above…until we reached the end of the box canyon

and faced an 800’ cliff wall. Our guide scampered straight up a narrow path

putting his big boots in tiny Anasazi (ancient Native American) toeholds.  I

followed for about one minute, panicked and froze about 5’ off the ground and

suggested we take the other, easy route up…or call a rescue helicopter. But the

only way out was straight up or double back 8 miles.  Now the guide was halfway

up the cliff and really didn’t give a shit about my anxiety or our whereabouts. My

brilliant friend, my partner, my trail shrink Shirl jumped in and tackled and

alleviated my fear.  She calmed me down by repeating ‘Karen, you can do it, you

can do it, you can do it’.  I got it together but wouldn’t have made it up the trail

without her (also) pushing my butt up the hardscrabble wall for the next 45

minutes.  I cried when we reached the top: for the splendor of the view, from

relief, a sense of great accomplishment and eternal gratitude and for the not-so-

random act of loving-kindness.  And that was just the first of many (life altering!)

wonderful experiences shared with my brilliant friend.
</div>
<div class="grid-item">
Many, many years ago, I remember sitting in my car outside
Wits at lunch time, cramming for a history exam that was to take place at 2.15 pm. I was exhausted, having only started my preparation the night before. There I was, chain smoking, in a terrible state. When the time came, I ran to the Examinations Hall in Central Block, only to discover that it was deserted. I ran to the history department, in a state of high anxiety, and was told the exam had taken place at 9 am in the morning. I had missed the exam. "But, but...," I whined. "My girlfriend had copied the exam timetable for me.,"  The Secretary shrugged and I went home disconsolate. My father, on hearing the news, started hyperventilating and had to go stand under the pear tree to recover. I got hold of the exam paper, and quickly saw that my "spots" did not come up, and I would have failed miserably. The history department, after some consideration, decided to pass me, on the basis that my year mark was reasonable.. This little saga has become a cautionary tale which is told to first year history students to this day, the moral being, that some friends cannot be relied on...
</div>
</div>
<div class="column1">
<div class="grid-item">
  <img src="karenshirl.jpg" alt="" />
</div>
</div>
</div>

<!-- Latest compiled and minified CSS -->
<script src="../js/jquery-2.1.1.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>
  <script type="text/javascript">

  // init with selector
  // options...
  </script>

<%= yield %>

</body>
</html>
